<a href="https://colab.research.google.com/github/ngtra14/Python/blob/main/Pandas_DataFrame_UltraQuick_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating DataFrame

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from pandas import Series, DataFrame
import numpy as np

In [ ]:
series_obj=Series(np.arange(0,8,2),index=['row1','row2','row3','row4',])
series_obj

In [ ]:
series_obj.iloc[[0,1]]

In [ ]:
series_obj['row2']

In [ ]:
df=DataFrame({'City':['Seattle','Chicago','NYC'], 'States':['WA','IL','NY'],'Avg':[100,200,500]})

In [ ]:
df

Creating Series from a dictionary.

In [ ]:
series_2=Series({'City':['Seattle','Chicago','NYC'], 'States':['WA','IL','NY'],'Avg':[100,200,500]})

In [ ]:
series_2

Converting a series directly into dataframe.
1. if no index specify, the dictionary key will become index. If we specify here and the index does not match the dictionary key, Naan value will appear.

In [ ]:
no_index_df=DataFrame(series_2)
no_index_df

In [ ]:
not_matching_index=DataFrame(series_2,index=['City','A','B'])
not_matching_index

How do we change the index then?
1. If we change by .index() as below, the dictionary's key will be replaced by the new provied index list. The new index no longer needs to match the dictionary's key like when we transfrom earlier

In [ ]:
dict_df=DataFrame(series_2,index=['City','States','Avg'])
dict_df.index=['Location','Demo','Income']
dict_df

2. If we want to keep the dictionary key, we need to reset the index then assign a new index. The new index can be anyvalue

In [ ]:
key_and_new=DataFrame(series_2)
key_and_new
#before

In [ ]:
#after. makeing sure the inplace is set, otherwise it will replace, instead of adding another colum.
key_and_new.reset_index(inplace=True)
key_and_new

In [ ]:
#change index
key_and_new.index=['Region','Upper region','Income']
key_and_new

In [ ]:
key_and_new.index

Retrieving data from specific location

In [ ]:
df=key_and_new.copy()
df
df.iloc[[1,2],[0]]

# Accessing elements & Modifying the dataframe

Slicing data from the dataframe

In [ ]:
df.iloc[0:2,1]

Accessing an entire column using indexing

In [ ]:
df['age']=[30,45,60]
df

In [ ]:
df.iloc[:,[0,2]]

Comparing- mask indexing
if not using the outer df[], it will return an object w/ boolean values contains the index position.
df[index statisfying the condition] >-- return actual value of the df

In [ ]:
mask=df.iloc[:,2]>35
mask

In [ ]:
mask2=df[df.iloc[:,2]>35]
mask2

Replacing value inside the dataframe

In [ ]:
df

replace the entire column value,column names vs. replace certain cell that satisfied a condition

In [ ]:
df.iloc[:,1]=None
df

In [ ]:
df.columns=['Attribute','Values','Age',]
df

If column Age is greater than 45 or smaller, then change the value in outcome accordingly.
1. accessing to filter the value of age <-- those are the rows that satisfy <-- df.iloc[:,2] because we are filtering along the row
2. using those defined rows, let's access the value in Column " Outcome" for those row and assign the new value. df.loc[filteredrow,'Outcome] <-- now accessing the value in the defined column.

In [ ]:
df.iloc[:,2]=df.iloc[:,2].apply(lambda x:int(x))
df.loc[df.iloc[:,2]>45,'Outcome']=1
df.loc[df.iloc[:,2]<45,'Outcome']=0
df.loc[df.iloc[:,2]==45,'Outcome']=1000
df

Modifying the dataframe to replace None value. Below code changing several lines with a list of value, making sure the [0:2] is the same length with the list

In [ ]:
df.iloc[0:2,1]=[200,300]
df

Now we are going to find all Null value <-- notice how we can find null value for the entire df or 1 specific columns.
Then replace w an average value

In [ ]:
df['Values'].isnull()
df.isnull()

In [ ]:
df.fillna(250,inplace=True)
df
# making sure the inplace is specified, otherwise df will not commit the change

What if we want to fill multiple position with multiple values.

In [ ]:
from pandas.core import missing
missing_df=df.copy()
missing_df['Homevalue']=None,None,None
missing_df['Numrooms']=20, None,None
missing_df

The input for the fillna() - insde the bracket must be either scaler or a dictionary. If using dictionary then we need to match the column as the key, value is a nested dictionary with key=index(such as: region), value=value. Make sure you use inplace=True to commit the change. fillna() does not override existing data that is not Naan= region remains 20 instead of 1.

In [ ]:
missing_df.fillna({'Homevalue':100000,'Numrooms':{'Region':1 , 'Upper region':2,'Income':3}},inplace=True)
missing_df

Let's try to see what if the nested dictionary isnt matching the index of the df <- the value remains None

In [ ]:
second_missing=df.copy()
second_missing['Homevalue']=None,None,None
second_missing['Numrooms']=20, None,None
second_missing.fillna({'Homevalue':100000,'Numrooms':{'Region':1 , 'Home':2,'Income':3}},inplace=True)
second_missing

we can also use fillna(method='ffill') <-- it will replace Naan with the last known value in the column.
Whatis about if we can to count for number of missing values? how much data is missing

In [ ]:
count_missing=df.copy()
count_missing['Homevalue']=None,None,None
count_missing['Numrooms']=20, None,None
count_missing

In [ ]:
count_missing.isnull().sum()
# it returns the total missing values per columns.

In [ ]:
# can we count the total missing value per row then? remember if we want the function to follow direction of row in result, the axis=1
count_missing.isnull().sum(axis=1)

let's drop all the records with null values <- empty DF because everysingle row has an naan

In [ ]:
count_missing.dropna(inplace=True)
count_missing

we also can dropna(axis=1) then it will drop all columns that contains None, keeping only the one that has no none.

How to find duplicate records and drop them ? Let's add new records first

In [ ]:
df

1. appending a new duplicated data and ignoring the original index (ignore_index=True) <--  notice how the index change from 'region' to 0

In [ ]:
new_record={'Attribute':'City','Values':200,'Age':30,'Outcome':0.0}
new_df=df.append(new_record,ignore_index=True)
new_df

2. How to add a new record to dataframe without losing the index <-- create the new record as a series with a given name

In [ ]:
# @title
new_data =pd.Series({'Attribute':'City','Values':200,'Age':30,'Outcome':0.0},name='Region')
new_df_indexkeep=df.append(new_data,ignore_index=False)
new_df_indexkeep

Now the data has duplicated records, let continue checking and removing them

In [ ]:
new_df.duplicated()

In [ ]:
new_df_indexkeep.duplicated()

The drop_duplicates allow to drop the entire row.

In [ ]:
new_df.drop_duplicates(inplace=True)
new_df

If we can to drop duplicates based on value of 1 specific column, we will need to pass on the name of that column. drop_duplicates(['nameofcol'])

In [ ]:
new_df_indexkeep

In [ ]:
new_df_indexkeep.drop_duplicates(['Attribute'],inplace=True)
new_df_indexkeep

# Merging,Concatenate and transforming dataframes

Concate/Combine 2 dataframe by matching row-index value, meaning adding more columns

In [ ]:
obj_1=pd.DataFrame(np.arange(36).reshape(6,6))
obj_1
# this is matrix size 6*6

In [ ]:
obj_2=pd.DataFrame(np.arange(15).reshape(3,5))
obj_2
# this is matrix 3*5... reshape(row,col)

Adding 2 DF using concat()

In [ ]:
df=pd.concat([obj_1,obj_2],axis=1)
df
#axis=1 when we want to matching row index, increasing the number of col

In [ ]:
df2=pd.concat([obj_1,obj_2],axis=0)
df2
## adding by matching col index, increasing the number of row

Adding a new record into DF:
1. join <-- new col
2. append <-- new row

In [ ]:
new_series=Series(np.arange(10),name='new_var')
new_series
# this series have 10 elements
new_added_df=DataFrame.join(df,new_series)
new_added_df
# this only join the series as a new column and matching the length

If we want to append a new row, the data must be sepcify by which value for which columns index. It different from adding a new column where you only need a name of series- which will be used as the col index.

In [ ]:
#adding_row_df= df.append(new_series,ignore_index=False)
dfcopy=df.copy()
dfcopy.index=['a','b','c','d','e','g']
new_series_modified=Series({0:'A',1:'A',2:'A',3:'A',4:'A'})
new_series_modified
dfcopy.columns
dfcopy.append(new_series_modified,ignore_index=True)

# Melting

In [ ]:
data=pd.DataFrame({'Name':['A','B','C','D','E'], 'Age':[10,20,30,40,50],'Edu':['HS','MS',"",'HS',""]})
data

We are going to modify the abovedata with syntax learnt earlier.
1. break age into 3 group, under 25, between 25-50 and above <-- ***method using here is to create a new column, need to find how to replace directly in the "age" column without getting the error of comparing str vs. int***
2. remove na values and replace w/ previous values
3. concat this df with a new records
4. add a new income column and sort the data based on that colum

In [ ]:
data_testing=data.copy()
data_testing.loc[data_testing['Age']<=25,'Group']='Under'
data_testing.loc[(data_testing['Age']<50) & (data_testing['Age']>25),'Group']='Middle'
data_testing.loc[data_testing['Age']>=50,'Group']='Senior'
data_testing

In [ ]:
data_testing.loc[data_testing['Edu']=="",'Edu']=None
data_testing.isna()

In [ ]:
#data_testing.dropna(axis=1)
data_testing.fillna(method='ffill',inplace=True)
data_testing

In [ ]:
data.loc[data['Edu']=="",'Edu']=None
data['Group']='Vary'
combine_axis_0=pd.concat([data,data_testing],axis=0)
combine_axis_0

In [ ]:
combine_axis_1=pd.concat([data,data_testing],axis=1)
combine_axis_1

Notice how we have to sort by a unique column, thus combine_axis_0 can short by Age but not combine_axis_1

In [ ]:
combine_axis_0.sort_values(by='Age',ascending=True,inplace=True)
combine_axis_0